body{
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}




header{
  background-color: black;

}
.menu{
  display: flex;
  justify-content: end;

}

ul{
  margin: 0;
}

li{
  list-style: none;
  margin: 20px;

}

a{
  text-decoration: none;
  color: white;
}



.seccion-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid black;


}

.responsivo{
  border: 5px solid black;
}

img{
  width: 500px;
  height: 500px;
}

footer{
  background-color: black;
  color: white;
  height: auto;
}

footer p{
  margin: 0;
  padding: 16px;
}

.botonimg{
  text-decoration: none;
    padding: 40px;
    font-family: arial;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 800;
    font-size: 25px;
    color: black;
    background-color: #9b0e0e;
}

.botonimg:hover{
  color: #9b0e0e;
    background-color: #bc6355;
    text-decoration: none;
}

#botonav{
  text-decoration: none;

    font-family: arial;
    color: black;
    background-color: #9b0e0e;
}

#botonav:hover{
  color: #9b0e0e;
    background-color: #bc6355;
    text-decoration: none;
}

.form-inventario{
  padding: 20px;
  text-align: center;
}

.ingresar{
  padding: 20px;
  margin: 20px;
}

textarea{
  resize: none;
}